@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    /* --shadow-clr: #212121; */
    --shadow-clr: #ffffff;
  }

  /* FONTS */

  @font-face {
    font-family: 'Circular Std Book';
    src: url('./fonts/CircularStd-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'D-DIN Condensed';
    src: url('./fonts/D-DINCondensed-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Mark Pro';
    src: url('./fonts/MarkPro-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  .text-shadow {
    text-shadow: 1px 1px 1px #c6c6c6, 3px 1.5px 0px #dfdfdf;
  }

  .content__underline::after {
    display: block;
    content: '';
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    width: 50%;
    height: 1px;
    background: #c4c4c4;
    transition: all 0.3s ease;
  }

  .content__underline:hover::after {
    width: 100%;
  }

  .visitlink__underline::after {
    display: block;
    content: '';
    position: absolute;
    bottom: -0.35rem;
    left: 0;
    width: 50%;
    height: 1px;
    background: #c4c4c4;
    transition: all 0.3s ease;
  }

  .visitlink__underline:hover::after {
    width: 100%;
  }

  .landing_page--content::before {
    content: '';
    display: block;
    position: absolute;
    top: 2rem;
    left: -1.5rem;
    width: 15rem;
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../public/images/Dark-white-in-Jacket92.png');
    transform: rotate(35deg);
  }

  .landing_page--content::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 13rem;
    right: 0;
    width: 20rem;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../public/images//Dark-white-in-Basic112.png');
    transform: scaleX(-1) rotate(45deg);
  }

  .brand_underline--logo::after {
    content: '';
    display: block;
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 0.5px;
    background: #bebdbd;
    transition: all 0.3s ease;
  }
}

body {
  font-family: 'Circular Std Book', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  /*  background: linear-gradient(115deg, #1a1e2b, #10101a, #1a1e2b, #10101a); */
  background: #10101a;
  background-size: 400% 400%;
  /*  animation: gradient 3s ease-in-out infinite alternate; */
}

.glassmorphic_background_navigation {
  backdrop-filter: blur(96px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.linear__gradient {
  animation: gradient 3s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .landing_page--content::before {
    width: 10rem;
    height: 20rem;
  }

  .landing_page--content::after {
    bottom: 0;
    right: -2rem;
    width: 30rem;
    height: 30rem;
  }
}

@media screen and (max-width: 600px) {
  .landing_page--content::before {
    top: 8rem;
    width: 9rem;
    height: 9rem;
  }

  .landing_page--content::after {
    bottom: 0;
    top: 30rem;
    right: -1rem;
    width: 15rem;
    height: 15rem;
  }

  .glassmorphic_background_navigation {
    border-radius: 0.8rem;
  }

  .svg_icon--navigation {
    width: 40px;
  }

  .content__underline::after {
    display: block;
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 50%;
    height: 1px;
    background: #c4c4c4;
    transition: all 0.3s ease;
  } 
}
